<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
    <title>Numeral system</title>
</head>
<body>

<div class="container d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
        <span class="fs-4">Home page</span>
    </a>

    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/change">Change</a>
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/numeral_system">Num. system</a>
    </nav>
</div>

<div class="container">
    <h1>Numeral system</h1>
    <form method="post">
        <p>
            <b>The <em><strong>original</strong></em> number:</b>
            <input required pattern="^[ 0-9]+$" type="text" placeholder="Enter the number" value="10" style="width: 500px; " name="ton"/>
        </p>

        <p>
            <b>The <em><strong>original</strong></em> number system:</b>
            <input required pattern="^[ 0-9]+$" type="text" placeholder="" value="10" style="width: 50px; text-align: center;" name="tons"/>

            <b style="padding-left: 10px">The <em><strong>desired</strong></em> number system:</b>
            <input required pattern="^[ 0-9]+$" type="text" placeholder="" value="10" style="width: 50px; text-align: center;" name="tdns"/>
        </p>

        <button type="submit" class="btn-primary">Submit</button>
    </form>
</div>
</body>
</html>
